{% extends "base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block title %}{% translate 'Statuses' %}{% endblock %}

{% block content %}
<div>
<h2>{% translate 'Statuses' %}</h2>
    <p>
        <a href="{% url 'statuses.create' %}" class="btn btn-primary">{% translate 'Create status' %}</a>
    </p>

    <table class="table">
    <thead>
    <tr>
        <th scope="col">{% translate 'ID' %}</th>
        <th scope="col">{% translate 'first name' %}</th>
        <!--      <th scope="col">{% translate 'last name' %}</th>-->
        <th scope="col">{% translate 'date joined' %}</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for status in statuses %}
    <tr>
        <th scope="row">{{ status.pk }}</th>
        <td>{{ status.name }}</td>
        <td>{{ status.created_at }}</td>
        <!--      <td>{{ user.username }}</td>-->
        <td>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <a href="{% url 'statuses.update' status.id %}">{% translate 'edit' %}</a>
                </li>
                <li class="list-group-item">
                    <a href="{% url 'statuses.delete' status.id %}">{% translate 'delete' %}</a>
                </li>
            </ul>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>


</div>
{% endblock %}
