{% extends "base.html" %}
{% load i18n %}


{% block title %}{% translate 'Statuses' %}{% endblock %}

{% block content %}
<div>
    <div class="lg:flex lg:items-center lg:justify-between">
        <h2 class="text-2xl/7 font-bold sm:truncate sm:text-3xl sm:tracking-tight">{% translate 'Statuses' %}</h2>
    </div>
    <div class="lg:flex lg:items-center lg:justify-between my-3">
        <a href="{% url 'statuses.create' %}" class="btn btn-primary">{% translate 'Create status' %}</a>
    </div>

    <table class="table-fixed w-full border-collapse border border-gray-400">
        <thead>
        <tr>
            <th class="p-4 text-left border border-gray-300" scope="col">{% translate 'ID'|capfirst %}</th>
            <th class="p-4 text-left border border-gray-300" scope="col">{% translate 'first name'|capfirst %}</th>
            <th class="p-4 text-left border border-gray-300" scope="col">{% translate 'created at'|capfirst %}</th>
            <th class="p-4 text-left border border-gray-300" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for status in statuses %}
        <tr class="{% if forloop.counter|divisibleby:2 %}bg-gray-200{% endif %}">
            <td class="p-4 text-left border border-gray-300">{{ status.pk }}</td>
            <td class="p-4 text-left border border-gray-300">{{ status.name }}</td>
            <td class="p-4 text-left border border-gray-300">{{ status.created_at }}</td>
            <td class="p-4 text-left border border-gray-300">
                <ul>
                    <li>
                        <a class="text-blue-500" href="{% url 'statuses.update' status.id %}">
                            {% translate 'edit'|capfirst %}
                        </a>
                    </li>
                    <li>
                        <a class="text-blue-500" href="{% url 'statuses.delete' status.id %}">
                            {% translate 'delete'|capfirst %}
                        </a>
                    </li>
                </ul>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>


</div>
{% endblock %}
