{% extends "base.html" %}
{% load i18n %}


{% block title %}{% translate 'Users' %}{% endblock %}

{% block content %}

<table class="table-fixed w-full border-collapse border border-gray-400">
    <thead>
    <tr>
        <th scope="col" class="p-4 text-left border border-gray-300">{% translate 'ID' %}</th>
        <th scope="col" class="p-4 text-left border border-gray-300">{% translate 'first name' %}</th>
        <th scope="col" class="p-4 text-left border border-gray-300">{% translate 'date joined' %}</th>
        <th scope="col" class="p-4 text-left border border-gray-300"></th>
    </tr>
    </thead>
    <tbody>
    {% for siteUser in users %}
    <tr class="{% if forloop.counter|divisibleby:2 %}bg-gray-200{% endif %}">
        <td class="p-4 text-left border border-gray-300">{{ siteUser.pk }}</td>
        <td class="p-4 text-left border border-gray-300">{{ siteUser.first_name }} {{ siteUser.last_name }}</td>
        <td class="p-4 text-left border border-gray-300">{{ siteUser.date_joined }}</td>
        <td class="p-4 text-left border border-gray-300">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <a href="{% url 'users.update' siteUser.id %}">{% translate 'edit' %}</a>
                </li>
                <li class="list-group-item">
                    <a href="{% url 'users.delete' siteUser.id %}">{% translate 'delete' %}</a>
                </li>
            </ul>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}

