{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate 'Login' %}{% endblock %}

{% block content %}
<div>
    {% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
    {% endif %}

    <div>
        <h2 class="text-lg" >{% translate 'Login' %}</h2>
    </div>

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="space-y-6">
            <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                <div class="sm:col-span-4">
                    <label for="{{ form.username.id_for_label }}" class="block text-sm/6 font-medium">{{form.username.label}}</label>
                    <div class="mt-2">
                        <input id="{{ form.username.auto_id }}" type="text" name="{{ form.username.html_name }}"
                               class="block w-90 border-1 border-gray-500 px-3 py-1.5 text-base"/>
                    </div>
                    <div class="text-red-500 text-sm">
                    {{ form.username.errors }}
                    </div>
                </div>
                <div class="sm:col-span-4">
                    <label for="{{ form.password.id_for_label }}" class="block text-sm/6 font-medium">{{form.password.label}}</label>
                    <div class="mt-2">
                        <input id="{{ form.password.auto_id }}" type="password" name="{{ form.password.html_name }}"
                               class="block w-90 border-1 border-gray-500 px-3 py-1.5 text-base"/>
                    </div>
                    <div class="text-red-500 text-sm">
                    {{ form.username.errors }}
                    </div>
                </div>
            </div>

        </div>
        <div class="mt-6 flex items-center justify-start gap-x-6">
            <button type="submit"
                    class="rounded-md bg-blue-500 px-3 py-2 text-sm font-semibold text-white focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
                {% trans 'Login' %}
            </button>
        </div>
    </form>
</div>
{% endblock %}