{% extends "base.html" %}
{% load i18n %}


{% block title %}{% translate 'Create tag' %}{% endblock %}

{% block content %}
<div class="">
    <div class="lg:flex lg:items-center lg:justify-between">
        <h2 class="text-2xl/7 font-bold sm:truncate sm:text-3xl sm:tracking-tight">{% trans 'Create tag' %}</h2>
    </div>

    <form method="post" action="{% url 'labels.create' %}" class="form">
        {% csrf_token %}

        <div class="space-y-6">
            <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                <div class="sm:col-span-4">
                    <label for="{{ form.name.id_for_label }}"
                           class="block text-sm/6 font-medium">{{form.name.label}}:</label>
                    <div class="mt-2">
                        <input id="{{ form.name.auto_id }}" type="text" name="{{ form.name.html_name }}"
                               value="{% if form.name.value %}{{ form.name.value }}{% endif %}"
                               class="block w-90 border-1 border-gray-500 px-3 py-1.5 text-base"/>
                    </div>
                    <div class="text-red-500 text-sm">
                        {{ form.name.errors }}
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-6 flex items-center justify-start gap-x-6">
            <button type="submit"
                    class="rounded-md bg-blue-500 px-3 py-2 text-sm font-semibold text-white focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
                {% trans 'create'|capfirst %}
            </button>
        </div>
    </form>
</div>
{% endblock %}