{% extends "base.html" %}
{% load i18n %}


{% block title %}{% translate 'Login' %}{% endblock %}

{% block content %}
<form method="post" action="{% url 'users.update' user.id %}" class="form">
    {% csrf_token %}

    {% bootstrap_form form %}

    <div class="mt-6 flex items-center justify-start gap-x-6">
        <button type="submit"
                class="rounded-md bg-blue-500 px-3 py-2 text-sm font-semibold text-white focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
            {% trans 'save'|capfirst %}
        </button>
    </div>
</form>
{% endblock %}