{% extends "base.html" %}
{% load i18n %}


{% block title %}{{ model.name }}{% endblock %}

{% block content %}
<div class="m-3">
    <div class="lg:flex lg:items-center lg:justify-between mb-4">
        <h2 class="text-2xl/7 font-bold sm:truncate sm:text-3xl sm:tracking-tight">{% trans 'Task detail' %}</h2>
    </div>

    <div class="border border-gray-300 ">
        <div class="bg-gray-600 px-8 py-4">
            {{ task.title }}
        </div>
        <div class="grid grid-cols-4 gap-4 mx-5">
            <div class="col-span-4 border-b-1 border-b-gray-500 ">
                <p class="m-3">
                    {{ task.description }}
                </p>
            </div>
            <div class="col-span-2">
                <p class="m-3">
                    {% translate 'author'|capfirst %}
                </p>
            </div>
            <div class="col-span-2">
                <p class="m-3">
                    {{ task.author.first_name }} {{ task.author.last_name }} {{ task.author.username }}
                </p>
            </div>
            <div class="col-span-2">
                <p class="m-3">
                    {% translate 'executor'|capfirst %}
                </p>
            </div>
            <div class="col-span-2">
                <p class="m-3">
                    {{ task.executor.first_name }} {{ task.executor.last_name }} {{ task.executor.username }}
                </p>
            </div>
            <div class="col-span-2">
                <p class="m-3">
                {% translate 'status'|capfirst %}
                </p>
            </div>
            <div class="col-span-2">
                <p class="m-3">
                    {{task.status.name}}
                </p>
            </div>
            <div class="col-span-2">
                <p class="m-3">
                {% translate 'created at'|capfirst %}
                </p>
            </div>
            <div class="col-span-2">
                <p class="m-3">
                {{ task.created_at }}
                </p>
            </div>
            <div class="col-span-4 ">
                <p class="m-3">{% trans 'labels'|capfirst %}</p>
                <ul class="list-disc pl-10">
                    {% for label in task.labels.all %}
                    <li>{{label.name}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-span-4 p-4">
                <a class="text-blue-500 pr-10" href="{% url 'tasks.update' task.id %}">{% translate 'edit'|capfirst %}</a>
                <a class="text-blue-500" href="{% url 'tasks.delete' task.id %}">{% translate 'delete'|capfirst %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}