{% extends "base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block title %}{% translate 'tasks'|capfirst %}{% endblock %}

{% block content %}
<div>
<h2>{% translate 'tasks'|capfirst %}</h2>
    <p>
        <a href="{% url 'tasks.create' %}" class="btn btn-primary">{% translate 'Create task' %}</a>
    </p>

    <table class="table">
    <thead>
    <tr>
        <th scope="col">{% translate 'ID' %}</th>
        <th scope="col">{% translate 'name' %}</th>
        <th scope="col">{% translate 'status' %}</th>
        <th scope="col">{% translate 'author' %}</th>
        <th scope="col">{% translate 'executor' %}</th>
        <th scope="col">{% translate 'created at' %}</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for task in tasks_list %}
    <tr>
        <th scope="row">{{ task.pk }}</th>
        <td><a href="{% url 'tasks.detail' task.id %}">{{ task.name }}</a></td>
        <td>{{ task.status.name }}</td>
        <td>{{ task.author.first_name }} {{ task.author.last_name }} {{ task.author.username }}</td>
        <td>{{ task.executor.first_name }} {{ task.executor.last_name }} {{ task.executor.username }}</td>
        <td>{{ task.created_at }}</td>
        <td>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <a href="{% url 'tasks.update' task.id %}">{% translate 'edit' %}</a>
                </li>
                <li class="list-group-item">
                    <a href="{% url 'tasks.delete' task.id %}">{% translate 'delete' %}</a>
                </li>
            </ul>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>


{% endblock %}